<div class="row" id="loginForm">
  <div class="col-12">
    <div class="container" id="inner">
      <img src="assets/images/Agonaika-logo.png" alt="logo"> <br><br>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">  
        <div class="form-group">
          <input 
            type="email" 
            class="form-control" 
            formControlName="email" 
            placeholder="Email address"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
          />
          <div 
            *ngIf="submitted && f.email.errors" 
            class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>

        <div class="form-group">
          <input 
            type="password" 
            class="form-control" 
            formControlName="password" 
            placeholder="Password" 
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
          />
          <div 
            *ngIf="submitted && f.password.errors" 
            class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <a href="">Forgot Password?</a>
          <button [disabled]="loading" class="btn btn-primary">Sign in</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <hr>
        <div class="form-group">
          Not registered? <a [routerLink]="['/register']" class="btn btn-outline-primary" role="button">Create an account</a>
        </div>
      </form>
    </div>
  </div>
</div>

